
.arrows {
    color: #4c4c4c;
}

.no-dec-hov:hover{
    text-decoration: none;
}
.banner{
    color: white;
    text-shadow: 2px 2px #20c997;
}

.jumbotron{
    background-color: #87c2ea !important;
}

.background {
    background-color: #f7f7f7;
}

.rounded-img {
     border-radius: 5%;
 }

 .rounded-img-long{
     border-radius: 10%;
 }

 .cons-height{
     height: 820px;
 }

.resume h3{
    color: #15a589;

}

.resume h5{
    color: #28ac92;
}

.resume h1{
    color: #20b497;
}

.resume-small{
    color:#61736f;
}

.dec-none{
    text-decoration: none;
    color: #212529;
}

 @media print{
     .print-hide{
         display: none;
     }
     a{
        text-decoration: none;
        color: #212529;
    }
 }
